
<div class="out">
<iframe width="100%" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.in/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=+&amp;q=820+Broadway,+Santa+Monica,+CA+90401+&amp;ie=UTF8&amp;hq=&amp;hnear=820+Broadway,+Santa+Monica,+California+90401,+United+States&amp;t=m&amp;z=14&amp;ll=34.018892,-118.48855&amp;output=embed"></iframe>
</div>

			 
	<div class="bl_outer">		 
			 
			 <div class="au_con">
				 <div class="oppo_con">
					<div class="con_tx">Contact Us
					We can't read minds yet so tell us what you are thinking!</div>
					<div class="contact_con">
					
						<div class="contact_lft">
						<form action="" method="get">
							<div class="contact_lft_con">
								<div class="name_con">Name*</div>
								<input name="" type="text" class="fld">
							</div>	
							
							<div class="contact_lft_con">
								<div class="name_con">Email*</div>
								<input name="" type="text" class="fld">
							</div>
							
							<div class="contact_lft_con">
								<div class="name_con">Subject*</div>
								<input name="" type="text" class="fld">
							</div>
							
							
							<div class="contact_lft_con">
								<div class="name_con">Message*</div>
								<textarea name="" cols="" rows="4" class="fld"></textarea>
							</div>
							
							<div class="contact_lft_con">
								<div class="name_con">Recaptcha*</div>
								<%= image_tag('captha_img.gif', alt: "") %>
							</div>
							
							<div class="contact_lft_con">
								<div class="name_con">&nbsp;</div>
								<input type="button" class="submit_btn" value="Submit">
							</div>
							
						</form>	
						</div>
						
						
						<div class="contact_rgh">
							<div class="contact_rgh_in">
								<h6>Physical Address </h6>
								<p><%= image_tag('home.png', alt: "", class: "hom") %> 820 Broadway, Santa Monica, CA 90401 </p>
							</div>
							
						  <div class="contact_rgh_in">
								<h6>Connect with Us </h6>
							    <p><a href="#"><%= image_tag('sm_1.png', alt: "") %></a> 
								<a href="#"><%= image_tag('sm_2.png', alt: "") %></a> 
								<a href="#"><%= image_tag('sm_3.png', alt: "") %></a> 
								<a href="#"><%= image_tag('sm_4.png', alt: "") %></a> 
								<a href="#"><%= image_tag('sm_5.png', alt: "") %></a> </p>
							</div>
							
							<div class="contact_rgh_in">
								<h6>Opportunities </h6>
							Please see our current <a href="#">opportunities page.</a>							
							</div>
							
							
							<div class="contact_rgh_in">
								<h6>Speaker </h6>
								Please fill out the form on the left if you would like a filmmo representative to speak at your film school or event.
							</div>
							
						</div>
					
					 </div>
				</div>
				
			 </div>
			</div> 
			 
	        <!-- #content -->