<!--Banner code-->

<div class="banner_con">
	<h1>Your Vision. Your Video.</h1>
	<h2>made excusively for you</h2>
	<div class="start_con"><a href="#">Start a New Project</a></div>
</div>
<div style="clear:both;"></div>

<!--Banner code-->



<!--How it's work section code-->
<div class="how_outer">
	<div class="how_inner">
		<h3>How it Works</h3>
		<div class="how_in_con">
			<div class="how_box">
			<a href="#">
				<%=image_tag ("how_icon_1.png")%><br>
				<strong>List Your Project</strong>
				<p>It takes less than 3 minutes to post your project and details on Filmzu.</p>
			</a>
			</div>

			<div class="how_box mg">
			<a href="#">
				<%=image_tag ("how_icon_2.png")%><br>
				<strong>Recieve Proposals</strong>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do eiusmod</p>
			</a>
			</div>


			<div class="how_box">
			<a href="#">
				<%=image_tag ("how_icon_3.png")%><br>
				<strong>Pay Securely</strong>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do eiusmod</p>
			</a>
			</div>


			<div class="how_box mg2">
			<a href="#">
				<%=image_tag ("how_icon_4.png" )%><br>
				<strong>Get Your Video</strong>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do eiusmod</p>
			</a>
			</div>

		</div>
	</div>
</div>
<div style="clear:both;"></div>
<!--How it's work section code-->

<!--customer success section-->

<div class="customer_con">
	<h3>Customer Succeses</h3>


	<div class="auto_con">
		<div class="slideshow_out">
			<div class="slide_left">
				<div class="slide_left_inn"><a href="javascript:void(0);" onClick="displayAnswer('answer1');">Other</a></div>
				<div class="slide_left_inn"><a href="javascript:void(0);" onClick="displayAnswer('answer2');">Commercial</a></div>
				<div class="slide_left_inn"><a href="javascript:void(0);" onClick="displayAnswer('answer3');">Event</a></div>
			</div>

			<div class="slider_center">
				<div id="answer1" style="display:block">
				<div class="video_out"><iframe id="player1" class="player" width="572" height="403" src="http://www.youtube.com/embed/5qJCE27Ukow" frameborder="0" allowfullscreen></iframe></div>
				<div class="video_des">Some text for description</div></div>

				<div id="answer2" style="display:none">
				<div class="video_out"><iframe id="player2" class="player" width="572" height="403" src="http://www.youtube.com/embed/xXeb-TaGQM0" frameborder="0" allowfullscreen></iframe></div>
				<div class="video_des">Some text for description2</div></div>

				<div id="answer3" style="display:none">
				<div class="video_out"><iframe id="player3" class="player" width="572" height="403" src="http://www.youtube.com/embed/SMr_uLZV-eM" frameborder="0" allowfullscreen></iframe></div>
				<div class="video_des">Some text for description3</div></div>

				<div id="answer4" style="display:none">
				<div class="video_out"><iframe id="player4" class="player" width="572" height="403" src="http://www.youtube.com/embed/xtD_O0fBECI" frameborder="0" allowfullscreen></iframe></div>
				<div class="video_des">Some text for description4</div></div>

				<div id="answer5" style="display:none">
				<div class="video_out"><iframe id="player5" class="player" width="572" height="403" src="http://www.youtube.com/embed/qJAylFQ8_yA" frameborder="0" allowfullscreen></iframe></div>
				<div class="video_des">Some text for description5</div></div>

				<div id="answer6" style="display:none">
				<div class="video_out"><iframe id="player6" class="player" width="572" height="403" src="http://www.youtube.com/embed/Yj28JbQs05A" frameborder="0" allowfullscreen></iframe></div>
				<div class="video_des">Some text for description6</div></div>

			</div>


			<div class="slide_left">

				<div class="slide_2_inn"><a href="javascript:void(0);" onClick="displayAnswer('answer4');">Crowd Funding</a></div>
				<div class="slide_2_inn"><a href="javascript:void(0);" onClick="displayAnswer('answer5');">Web Video</a></div>
				<div class="slide_2_inn"><a href="javascript:void(0);" onClick="displayAnswer('answer6');">Music Video</a></div>

			</div>
		</div>
	</div>



</div>



<!--customer success section-->


<!--client view section code-->
<div style="clear:both;"></div>
<div class="client_outer">
	"Lorem ipsum dolor sit amet, consectetur adipisicing, sed do<br> eiusmod tempor..."
	<p><a href="#"><%=image_tag ("fast_logo.gif")%></a></p>
</div>

<!--client view section code-->
