<!DOCTYPE html>
<html>
<head>
  <title>Filmzu</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; minimum-scale=1.0; user-scalable=0;" />
	<meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
	<!-- main css -->
<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

<!-- html5.js for IE less than 9 -->
<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<!-- css3-mediaqueries.js for IE less than 9 -->
<!--[if lt IE 9]>
	<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
<![endif]-->
</head>
<body>
			<div class="stracture">
				<div class="top_header_area">
					<div class="header_left">
						<a class="logo" href="#"><%=image_tag ("logo.png") %></a>
						<div class="search">
							<input type="text" value="Search" onFocus="if(this.value==this.defaultValue)this.value='';" onBlur="if(this.value=='')this.value=this.defaultValue;" />
						</div>
					</div>


						<div class="header_right">
							<div class="mainmenu">
								<div class="item">
									<a href="#"><%=image_tag ("project_logo.jpg")%> Projects</a>
								</div>
								<div class="item">
									<a href="#"><%=image_tag ("people_logo.jpg")%> People</a>
								</div>

								<div class="sign_con"><a href="#">Sign In</a></div>


							</div>
						</div>
			  </div>
</div>

<%= yield %>

<!--post your free job section code	-->
<div style="clear:both;"></div>
<div class="post_con">
  <div class="post_btn"><a href="#">Post Your Job For Free!</a> </div>
  <div class="register"><a href="#">Register as a Filmaker</a>  </div>
</div>

<!--post your free job section code	-->

<%= render :partial=>"footer"%>

</body>

</html>
